body {
    font-family: sans;
    background: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
}

input[type="checkbox"]
{
    display: none;
}

.item {
    display: block;
    border: 1px solid lightgray;
    margin: 5px;
    text-align: center;
    max-width: 100px;
    background: white;
}

.item:has(input:checked) {
    filter: brightness(50%);
}

p {
    margin: 0.1em;
}
