:root {
    --bg-color: #1c1c1c;
    --item-bg-color: #404040;
    --text-color: #fefefe;
    --border-color: #777;
}

body {
    font-family: sans;
    background: var(--bg-color);
    color: var(--text-color);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
}

input[type="checkbox"]
{
    display: none;
}

.item {
    display: block;
    border: 1px solid var(--border-color);
    margin: 2px;
    text-align: center;
    background: var(--item-bg-color);
}

img, .item {
    max-width: 65px;
}

.item:has(input:checked) {
    filter: brightness(60%);
}

p {
    margin-bottom: 0.3em;
    margin-top: 0.1em;
    font-size: 9.5px;
}
