body {
    font-family: sans;
    background: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
}

input[type="checkbox"]
{
    display: none;
}

.item {
    display: block;
    border: 1px solid lightgray;
    margin: 2px;
    text-align: center;
    background: white;
}

img, .item {
    max-width: 65px;
}

.item:has(input:checked) {
    filter: brightness(50%);
}

p {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    font-size: 9.5px;
}
